@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8ff;
  --foreground: #171717;
  --primaryBlue: #005697;
  --primaryBlue-700: #003e6b;
  --secondaryBlue: #0b76d6;
  --softBackground: #f1f5f9;
  --dashboard-bg: #f5f5f5;
  --accent-orange: #ff8a00;
  --active-blue: #0087ff;
}

body {
  font-family: var(--font-plus-jakarta);
  background: #ffffff;
}
